body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#post-style  {
	padding: 100px;
	background: #f7f9ff; 
    border: 2px solid black; 
   
}

#post-style > div > h2 {
	 text-align: center; 
}
 

